<!DOCTYPE html>
	<html>
		<head>
			<title>{{ ArtScience-2017 }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		
	    		</ul>
			</nav> 
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!--<li><a href="/">Home</a></li>-->
		        	<li><a href="https://raw.githubusercontent.com/InterfacultyArtScience2017/InterfacultyArtScience2017.github.io/master/ASposter2s.gif"><img src="https://raw.githubusercontent.com/InterfacultyArtScience2017/InterfacultyArtScience2017.github.io/master/IasfpeX30h.gif"></a></li>
	        		
	        		<li><a href="http://stichting.interfaculty.nl/"><img src="https://raw.githubusercontent.com/InterfacultyArtScience2017/InterfacultyArtScience2017.github.io/master/Slabel1_i1.gif"></a></li>
	        		<li><a href="https://github.com/InterfacultyArtScience2017">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
