<!DOCTYPE html>
	<html>
		<head>
			<title>{{ ArtScience-2017 }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		
	    		</ul>
			</nav> 
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!--<li><a href="/">Home</a></li>-->
		        	<li><a href="https://raw.githubusercontent.com/InterfacultyArtScience2017/InterfacultyArtScience2017.github.io/master/ASposter2s.gif"><img src="https://raw.githubusercontent.com/InterfacultyArtScience2017/InterfacultyArtScience2017.github.io/master/IasfpeX30h.gif"></a></li>
	        		
	        		<li><a href="http://stichting.interfaculty.nl/"><img src="https://raw.githubusercontent.com/InterfacultyArtScience2017/InterfacultyArtScience2017.github.io/master/Slabel1_i1.gif"></a></li>
	        		<li><a href="https://github.com/InterfacultyArtScience2017"><img src="https://raw.githubusercontent.com/InterfacultyArtScience2017/InterfacultyArtScience2017.github.io/master/Glabel1_0001.gif"></a></li>
				<li><a href="http://stichting.interfaculty.nl/new-post/">Alexander Zaklynsky</a></li>
				<li><a href="http://stichting.interfaculty.nl/stefano-murgia-2/">Stefano Murgia</a></li>
				<li><a href="http://stichting.interfaculty.nl/luke-boorman/">Luke Boorman</a></li>
				<li><a href="http://stichting.interfaculty.nl/sophie-jurrjens/">Sophie Jurrjens</a></li>
				<li><a href="http://stichting.interfaculty.nl/gisella-ripoll-de-la-cruz/">Gisella Ripoll De la Cruz</a></li>
				<li><a href="http://stichting.interfaculty.nl/natalie-fyfe/">Natalie Fyfe</a></li>
				<li><a href="http://stichting.interfaculty.nl/cathleen-owens/">Cathleen Owens</a></li>
				</ul>
			</footer>
		</body>
	</html>
